body{
    font-family: 'Press Start 2P', cursive;
}
header{
    width: 100%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Le background qui slide */
.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to left, #c5d5cb, #e3e0cf);
    z-index: -1;
}

/* Header */
nav {
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    min-height: 12vh;
    color:white;
    align-items: center;
}

#logo {
    font-family: "gayathri";
    color: rgb(95, 95, 95);
    grid-column: 2/3;
    font-size: 24px;
}

.icone {
    cursor: pointer;
    justify-self: end;
    width: 40px;
}
/* L'image et le titre */
section {
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
    /* pour montrer le container */
    /* background-color: blue; */
}

.banniere {  
    height: 100%;
    width: 100%;
    /* flex-basis: 300px; */
    /* pour son after */
    position: relative;
}

/* la taille de l'image dans le conteneur section */
/* L'image a une marge naturelle sur les côtes car elle s'adapte aux
80vh de la section, qui est la hauteur de "banniere" */
.banniere img {
    width: 100%;
    height: 100%;
    /* On redonne le bon ratio d'affichage en fonction de la hauteur et de la
    largeur, pour que ça rende bien */
    object-fit: cover;
}


.lettres {
    margin: 0;
    padding: 0;
    letter-spacing: -25px;
}

.titre {
    display: flex;
    
    position: absolute;
    top: 110%;
    left: 50%;
    margin: 0 20px;
    font-size: 10px;
    transform: translate(-20%, -70%);
    color: orange;
    /* pour le mettre devant */
    z-index: 3;
}
.titre i{
    margin: 0 20px;
}

/* relatif à banniere, pour rajouter un filtre */
.banniere::after {
    content: "";
    background:white;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    /* toussa pour ça je crois */
    opacity: 0.3;
}
/* Partie Menu */

.overlay {
  
    height: 100%;
    width: 100%;
    position: fixed; 
    z-index: 10; 
    right: -4000px;
    top: 0;
    
    background-color: rgba(0,0,0,1); 
    overflow-x: hidden; 
    transition: 0.5s; 
}

.overlay-content {
    position: relative;
    top: 10%; 
    width: 100%;
    text-align: center; 

}


.overlay a {
    padding: 8px;
    font-family: "gayathri";
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; 
    transition: 0.3s; 
}


.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}


.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/* SEPARATEUR DE SECTION*/

.separateur img{
    margin-top: 50px;
    width: 100%;
    object-fit: cover;
    height: 80px;
}

/* DESCRIPTION DE L'ACTIVITE */
h2{
    margin-top: 22px;
    text-align: center;
}
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.box{
    margin: 60px;
    border: 1px solid black;
    height: 200px;
    width: 150px;
}

/* ROADMAP */

.road{
    margin-top: 22px;
    height: 200px;
    width: 90%;
    border: 1px solid black;
}
/* footer*/
footer{
    height: 100px;
}
footer p{
    margin-top: 50px;
    text-align: center;
}
